* {
    padding: 0;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
    margin: auto;
}

#infoGames {
    width: 1200px;
    margin: auto;
    font-size: 40px;
}