* {
    padding: 0;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
    margin: auto;
}

#infoGames {
    width: 1200px;
    margin: auto;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    border: 5px solid yellow;
    color: white;
    align-items: center;
}

viyfvugvugvujig p {
    padding: 0 20px;
}

#power {
    display: flex;
    padding: 0 20px;
}

.displayHp {
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
}

#myImage {
    width: 50px;
    height: auto;
}